@using Cooking_Lovers.Utilities
@model IEnumerable<Recipe>
@{
    ViewData["Title"] = "My Recipes";
}

<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-header text-white bg-primary">
                    <h2>My Recipes</h2>
                </div>
                <div class="card-body">
                    <table class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Description</th>
                                <th>Ingredients</th>
                                <th>Preparetion time</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var recipe in Model)
                            {
                                <tr>
                                    <td>@recipe.Title</td>
                                    <td>
                                        <div class="accordion" id="cardAccordion$@recipe.Title$">
                                            <div class="accordion-item">
                                                <h2 class="accordion-header" id="collapseIngredientsHeading$@recipe.Title$">
                                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseIngredients$@recipe.Title$" aria-expanded="false" aria-controls="collapseIngredients$@recipe.Title$">
                                                        Description
                                                    </button>
                                                </h2>
                                                <div class="accordion-collapse collapse" id="collapseIngredients$@recipe.Title$" aria-labelledby="collapseIngredientsHeading$@recipe.Title$" data-bs-parent="#cardAccordion$@recipe.Title$">
                                                    <div class="accordion-body">
                                                        @recipe.Description
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="flex-column flex-wrap col-1">
                                        @foreach (var ingredient in recipe.RecipeIngredients)
                                        {
                                            <span>@ingredient.Ingredient.Name&nbsp;@ingredient.Quantity&nbsp;@ingredient.Unit</span>
                                        }
                                    </td>
                                    <td>@recipe.PreparationTime</td>
                                    <td>
                                        <div class="d-flex justify-content-around">
                                            <form asp-controller="Home" asp-action="UpdateRecipe" method="get">
                                                @* <input name="id" value="@recipe.Id" type="hidden"> *@
                                                <input name="model" value="@Helper.MapRecipeToViewModel(recipe)" type="hidden">
                                                <button class="btn btn-secondary" type="submit">Edit</button>
                                            </form>
                                            <form asp-controller="Home" asp-action="DeleteRecipe" method="post">
                                                <input name="id" value="@recipe.Id" type="hidden">
                                                <button class="btn btn-danger" type="submit">Delete</button>
                                            </form>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>